@import url("https://fonts.googleapis.com/css?family=DM+Sans");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  header {
    padding: 0px;
  }
}
header .header-logo {
  height: 50px;
}
@media screen and (min-width: 768px) {
  header .header-logo {
    margin-left: 100px;
  }
}
header h1 {
  color: #901C1C;
}
@media screen and (min-width: 768px) {
  header h1 {
    margin-right: 100px;
  }
}

.photographer_section {
  display: flex;
  gap: 70px;
  flex: 2;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: center;
  margin-top: 100px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .photographer_section {
    flex-direction: row;
    flex: 3;
  }
}
.photographer_section article {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .photographer_section article {
    width: calc(33.3333333333% - 70px);
  }
}
.photographer_section article h2 {
  width: 200px;
  color: #D3573C;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .photographer_section article h2 {
    width: 100%;
  }
}
.photographer_section article img {
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background: #C4C4C4;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
.photographer_section article img.portrait {
  object-fit: cover;
}
.photographer_section article .location {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #901C1C;
  margin-bottom: 3px;
}
.photographer_section article .tagline {
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 3px;
}
.photographer_section article .rate {
  font-size: 9px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
  color: #757575;
}

.photograph-header {
  background-color: #FAFAFA;
  padding: 20px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  .photograph-header {
    flex-direction: row;
    padding: 100px 20px 100px 20px;
    margin: 0 100px;
  }
}
.photograph-header h1 {
  font-size: 64px;
  color: #D3573C;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  line-height: 83px;
  letter-spacing: 0em;
}
.photograph-header .location {
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0em;
  color: #901C1C;
}
.photograph-header .tagline {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  color: #525252;
}
.photograph-header .btn {
  align-items: center;
  justify-content: center;
}
.photograph-header img {
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background: #C4C4C4;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
  }
}
.photograph-header img.portrait {
  object-fit: cover;
}
.photograph-header .contact_button {
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 100px;
  min-height: 35px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .photograph-header .contact_button {
    font-size: 20px;
    width: 170px;
    height: 70px;
  }
}
.photograph-information, .photograph .btn, .photograph img {
  display: flex;
}

.medias_section {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .medias_section {
    padding: 100px;
  }
}
@media screen and (min-width: 768px) {
  .medias_section {
    justify-content: space-between;
  }
}
.medias_section img {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
}
@media screen and (min-width: 768px) {
  .medias_section img {
    flex-direction: row;
    width: 300px;
    height: 300px;
  }
}
.medias_section img.portrait {
  object-fit: cover;
}
.medias_section .picinfo {
  display: flex;
  justify-content: space-between;
}
.medias_section .picinfo h2, .medias_section .picinfo p {
  font-size: 24px;
  color: #901C1C;
}
.medias_section .picinfo h2 {
  width: 240px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#contact_modal {
  display: none;
}
#contact_modal .modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}
#contact_modal .modal header {
  justify-content: space-between;
  width: 100%;
}
#contact_modal .modal header img {
  cursor: pointer;
}
#contact_modal .modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}
#contact_modal .modal form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
#contact_modal .modal form label {
  color: #312E2E;
  font-size: 36px;
}
#contact_modal .modal form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
#contact_modal .modal form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

/*# sourceMappingURL=styles.css.map */
