// Common //
@use "base/common";

// Pages
@use "pages/parts/header.scss";
@use "pages/index";
@use "pages/photographers";

// Components
@use "components/modal.scss";
@use "components/lightbox.scss";

#increment-btn{
  height:10px;
  width: 10px;
  background-color: black;
}

#decrement-btn{
  height:10px;
  width: 10px;
  background-color: black;
}