@use "../utils/colors.scss" as c;
@use "../utils/fonts.scss" as f;

button{
  border:none;
  background-color: none;
  border-radius: 5px;
}

.btn-contact{
  align-items: center;
  justify-content: center;
  width:170px;
  height:69px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-family: f.$dm-sans;
  line-height: 23px;
  font-weight: 700;
  font-style: normal;
  color: c.$white;
  background-color: c.$red;
  &:hover{
    background-color: #DB8876;
    color:#000;
  }
}
.modal{
  .btn-contact{
    &:hover{
      color: c.$white;
      background-color: c.$red;
    }
  }
}