@use "../utils/colors.scss" as c;
@use "../utils/fonts.scss" as f;

.filter_section{
  line-height: 70px;
  margin-top: 9px;
  margin-bottom: 2px;
  display: flex;
  font-size: 18px;
  font-family: f.$dm-sans;
  .dropdown {
    font-size: 16px;
    ::placeholder{
      color:c.$white;
    }
    position: relative;
    left: 20px;
    width: 200px;
    height: 50px;
    color:c.$white;
    &::before{
      content: "";
      position: absolute;
      top: 25px;
      right: 20px;
      z-index: 2000;
      width: 8px;
      height: 8px;
      border: 2px solid #FFF;
      border-top: 2px solid c.$red;
      border-right: 2px solid c.$red;
      transform: rotate(-45deg);
      transition: 0.5s;
      pointer-events: none;
      
    }
    &.active::before{
      top: 32px;
      transform: rotate(-225deg);
    }
    input {
      caret-color:c.$red;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height:70px;
      padding-left: 20px;
      padding-top: 0px;
      cursor: pointer;
      background: c.$red;
      font-size:16px;
      font-family: f.$dm-sans;
      border: none;
      outline: none;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      color:#FFF;
    }
    .options {
      position: absolute;
      z-index: 1000;
      top: 0px;
      width: 100%;
      background: c.$red;
      color:#FFF;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      overflow: hidden;
      display: none;
      padding-left: 10px;
      padding-right: 10px;
      div {
        padding: 1px 10px;
        border-bottom:1px solid;
        cursor: pointer;
        &:hover{
          color: #fff;
        }
      }
      :last-child{
        border: none;
      }
    }
    &.active .options{
      display: block;
    }
  }
}