@use "../utils/colors.scss" as c;
@use "../utils/mixins.scss" as m;
@use "../animations/hide-show.scss";

.lightbox{
	h2{
		display:none;
	}
	display:flex;
	justify-content: center;
	display: none;
  position: fixed;
  z-index: 3000;
  top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: c.$white;
	&-btn{
		text-indent:-10000px;
		&--close {
			cursor: pointer;
			width: 30px;
			height: 30px;
			text-indent:-10000px;
			position: absolute;
			right: 125px;
			top: 77px;
			&:before {
				position: absolute;
				left: 15px;
				content: " ";
				height: 33px;
				width: 3px;
				background-color: c.$red;
				transform: rotate(45deg);
			}
			&:after {
				position: absolute;
				left: 15px;
				content: " ";
				height: 33px;
				width: 3px;
				background-color: c.$red;
				transform: rotate(-45deg);
			}
		}
	}
	&.hide{
		display: block;
		animation-name: hide;
		animation-duration: 0.5s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;	
	}
	&.open{
		display: block;
  	animation-name: open;
  	animation-duration: 0.5s;
  	animation-timing-function: ease-in-out;
	}
}
