@use "../utils/colors.scss" as c;
@use "../utils/mixins.scss" as m;
@use "../animations/hide-show.scss";

.window{
	display:flex;
	justify-content: center;
}

.modal{
	display:flex;
	justify-content: center;
	&-toogle{
		cursor: pointer;
	}
  display: none;
  position: fixed;
  z-index: 3000;
  top: 1%;
	width: 600px;
	border-radius: 5px;
  background-color: c.$salmon;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
	padding-right: 35px;
	padding-left: 35px;
  margin: auto;
	&.hide{
		display: block;
		animation-name: hide;
		animation-duration: 0.5s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;	
	}
	&.open{
		display: block;
  	animation-name: open;
  	animation-duration: 0.5s;
  	animation-timing-function: ease-in-out;
	}
	&-btn{
		&--close {
			border: none;
			background: none;
			position: absolute;
			right: 15px;
			top: 15px;
			width: 33px;
			height: 33px;
			opacity: 1;
			text-indent: -1000000px;
			cursor: pointer;
			transform: scale(0.7);
			&:before {
				position: absolute;
				left: 15px;
				content: " ";
				height: 33px;
				width: 3px;
				background-color: white;
				transform: rotate(45deg);
			}
			&:after {
				position: absolute;
				left: 15px;
				content: " ";
				height: 33px;
				width: 3px;
				background-color: white;
				transform: rotate(-45deg);
			}
		}
	}	
  header {
  	justify-content: space-between;
    width: 100%;    
    img {
      cursor: pointer;
    }
		h2 {
			font-size: 44px;
			font-weight: normal;
			text-align: left;
		}
	}
	form {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		font-size: 30px;
		padding: 5px;
		small{
			font-size: 18px;
			color:c.$white;
			font-weight: 900;
			text-underline-offset: auto;
		}
		label {
			color: c.$dark;
			font-size: 36px;
		}
		div {
			display: flex;
			flex-direction: column;
			width: 100%;
			align-items: self-start;
			margin-bottom: 26px;
		}
		.fromData{
			input{
				font-size:32px;
				border: none;
				border-radius:5px;
				padding: 10px;
				width: 100%;
			}
		}
	}
	#message{
		height: 150px;
		width: inherit;
		font-size: 24px;
	}
}

textarea{
  border:none;
  border-radius:5px;
  padding:10px;
  font-family: Arial, Helvetica, sans-serif;
}