@use "../utils/colors.scss" as c;
@use "../utils/mixins.scss" as m;

#slider{
	#slide{
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		video, img{
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		video{
			width: 75%;
		}
	}
	.previous{
		&::before{
			@include m.sliderbutton{
				left: 125px;
				transform: rotate(-135deg);
			}		
		}
	}
	.next{
		&::before{
			@include m.sliderbutton{
				right: 125px;
				transform: rotate(45deg);
			}		
		}
	}
}