@use "../utils/colors.scss" as c;
@use "../utils/mixins.scss" as m;

#slider{
	display:flex;
	flex-direction: column;
	padding-top:20px;
	padding-bottom:20px;
	.slide-container{
		margin: auto;
	}
	#slide{
		video, img{
			display: block;
			margin-left: auto;
			margin-right: auto;
			object-fit: cover;
      width: 800px;
			height: 800px;
		}
		h2{
			color : c.$red;
		}
	}
	.previous{
		&::before{
			@include m.sliderbutton{
				left: 125px;
				transform: rotate(-135deg);
			}		
		}
	}
	.next{
		&::before{
			@include m.sliderbutton{
				right: 125px;
				transform: rotate(45deg);
			}		
		}
	}
	
}