@use "../utils/fonts.scss" as f;
@use "../utils/colors.scss" as c;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: f.$dm-sans;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: c.$red;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}