@use "../utils/colors.scss" as c;
@use "../utils/mixins.scss" as m;


.photographer_section {
  display: flex;
  @include m.desktop{
    flex-direction: row;
    flex:3;
  
  }
  gap: 70px;
  flex:2;
  flex-wrap: wrap;
  margin-top:100px;
  justify-content: center;
  article{
    width: calc(100%/2 - 20px);
    @include m.desktop{
      width: calc(100%/3 - 70px);
    }
    display: flex;
    flex-direction: column;
    text-align: center;
    h2{
      color: c.$orange;
      font-size: 36px;
      font-weight: 400;
      text-align: center;
    }
    img {
      margin-left:auto;
      margin-right: auto;
      height: 200px;
      width: 200px;
      border-radius: 100px;
      &.portrait{
        object-fit: cover;  
      }
      background: c.$bck-grey;
      box-shadow: 0px 4px 12px c.$shadow-grey;
    }
    .location{
      font-size: 13px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: center;
      color:c.$red;
      margin-bottom: 3px;
    }
    .tagline{
      font-size: 10px;
      font-weight: 400;
      line-height: 13px;
      letter-spacing: 0em;
      text-align: center;
      margin-bottom: 3px;
    }
    .rate{
      font-family: DM Sans;
      font-size: 9px;
      font-weight: 400;
      line-height: 12px;
      letter-spacing: 0em;
      text-align: center;
      color:c.$grey;
    }
  }
}