@use "../utils/colors.scss" as c;
@use "../utils/mixins.scss" as m;

.photographer_section {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  margin-top:100px;
  padding-left:50px;
  padding-right:50px;
  justify-content: center;
  article{
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: grab;
    @include m.desktop{
      width: calc(100%/3 - 70px);
    }
    h2{
      width: 200px;
      @include m.desktop{
        width: 100%;
      }
      color: c.$orange;
      font-size: 36px;
      font-weight: 400;
      text-align: center;
    }
    img {
      margin-left:auto;
      margin-right: auto;
      height: 200px;
      width: 200px;
      border-radius: 100px;
      &.portrait{
        object-fit: cover;  
      }
      background: c.$bck-grey;
      box-shadow: 0px 4px 12px c.$shadow-grey;
    }
    .location{
      font-size: 13px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: center;
      color:c.$red;
      margin-bottom: 3px;
    }
    .tagline{
      font-size: 12px;
      font-weight: 400;
      line-height: 13px;
      letter-spacing: 0em;
      text-align: center;
      margin-bottom: 3px;
    }
    .rate{
      font-size: 12px;
      font-weight: 400;
      line-height: 12px;
      letter-spacing: 0em;
      text-align: center;
      color:c.$grey;
    }
  }
}