@use "../utils/colors.scss" as c;
@use "../utils/mixins.scss" as m;
@use "../utils/fonts.scss" as f;

.btn-contact{
  align-items: center;
  justify-content: center;
  width:170px;
  height:69px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-family: f.$dm-sans;
  line-height: 23px;
  font-weight: 700;
  font-style: normal;
  color: c.$white;
  background-color: c.$red;
  &:hover{
    background-color: #DB8876;
    color:#000;
  }
}
.modal{
  .btn-contact{
    &:hover{
      color: c.$white;
      background-color: c.$red;
    }
  }
}

textarea{
  border:none;
  border-radius:5px;
  padding:10px;
  font-family: Arial, Helvetica, sans-serif;
}

.photographer_section{
  margin-top:50px;
}

.photograph{
  &-header {
    background-color: c.$llg;
    padding: 20px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    @include m.desktop{
      flex-direction: row;
      padding: 100px 20px 100px 20px;
      margin: 0 100px;
    }
    h1{
      font-size: 64px;
      color:c.$orange;
      font-weight: 400;
      font-family: f.$dm-sans;
      line-height: 83px;
      letter-spacing: 0em;
      max-width: 300px;
      text-overflow: ellipsis;
    }
    .location{
      font-size: 24px;
      line-height: 31px;
      letter-spacing: 0em;
      color:c.$red;
    }
    .tagline{
      font-size: 18px;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0em;
      color:c.$p-grey;
    }
    img{
      margin-left:auto;
      margin-right: auto;
      height:100px;
      width:100px;
      border-radius:50px;
      background: c.$bck-grey;
      box-shadow: 0px 4px 12px c.$shadow-grey;
      @include m.desktop{
        height:200px;
        width:200px;
        border-radius: 100px;
      }
      &.portrait{
        object-fit: cover;  
      }
    } 
  }
  &-informations, .btn, img{
    display: flex;
  }
  &-informations{
    display: flex;
    flex-direction: column;
    width:calc(100%/3);
  } 
}
.medias_container{
  margin: 0 100px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;
  .filter_section{
    line-height: 70px;
    margin-top: 9px;
    margin-bottom: 2px;
    display: flex;
    font-size: 18px;
    font-family: f.$dm-sans;
    .dropdown {
      font-size: 16px;
      ::placeholder{
        color:c.$white;
      }
      position: relative;
      left: 20px;
      width: 200px;
      height: 50px;
      color:c.$white;
      &::before{
        content: "";
        position: absolute;
        top: 25px;
        right: 20px;
        z-index: 2000;
        width: 8px;
        height: 8px;
        border: 2px solid #FFF;
        border-top: 2px solid c.$red;
        border-right: 2px solid c.$red;
        transform: rotate(-45deg);
        transition: 0.5s;
        pointer-events: none;
        
      }
      &.active::before{
        top: 32px;
        transform: rotate(-225deg);
      }
      input {
        caret-color:c.$red;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:70px;
        padding-left: 20px;
        padding-top: 0px;
        cursor: pointer;
        background: c.$red;
        font-size:16px;
        font-family: f.$dm-sans;
        border: none;
        outline: none;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        color:#FFF;
      }
      .options {
        position: absolute;
        z-index: 1000;
        top: 0px;
        width: 100%;
        background: c.$red;
        color:#FFF;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        overflow: hidden;
        display: none;
        padding-left: 10px;
        padding-right: 10px;
        div {
          padding: 1px 10px;
          border-bottom:1px solid;
          cursor: pointer;
          &:hover{
            color: #fff;
          }
        }
        :last-child{
          border: none;
        }
      }
      &.active .options{
        display: block;
      }
    }
  }
  .medias_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    margin-top:45px;
    @include m.desktop{
      
    }
    img, video{
      display:flex;
      flex-direction: column;
      object-fit: cover;
      height: 300px;
      width: 100%;
      background: c.$bck-grey;
      @include m.desktop{
        height: 300px;
        width: 300px;  
        flex-direction: row;
      }
      &.square{
        object-fit: cover;
        border-radius: 5px;
      }
    }
    .info{
      display: flex;
      justify-content: space-between;
      h2, p{
        font-size: 18px;
        color:c.$red;  
      }
      h2{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
.bar{
  font-size: 24px;
  display:flex;
  flex-direction: row;
  position: fixed;
  right:36px;
  bottom:0;
  background-color: #DB8876;
  color:black;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  padding-left:12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom:12px;

  .compteurLikes, .price{
    padding:20px;
  }
  .price{
    margin-top: 2px;
  }
}
#count{
  color:c.$red;
}
