@use "../utils/colors.scss" as c;

.photograph-header {
  background-color: c.$llg;
  height: 300px;
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: c.$white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: c.$red;
  border-radius: 5px;
  cursor: pointer;
}