@use "../../utils/colors.scss" as c;
@use "../../utils/mixins.scss" as m;
header {
  a{
    height:50px;
    width:200px;
    @include m.desktop{
      margin-left: 100px;
    }
  }
  display: flex;
  flex-direction: column;
  @include m.desktop{
    flex-direction: row;
  }
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding:20px;
  @include m.desktop{
    padding : 0px;
  }
  .header-logo {
    height: 50px;
    width: 200px;
  }
  h1 {
    color: c.$red;
      @include m.desktop{
      margin-right: 100px;
    }
  }
}