@use "breakpoints" as b;
@use "colors" as c;

@mixin desktop {
    @media screen and (min-width: map-get(b.$breakpoints, desktop)){
        @content;
    }
}

@mixin sliderbutton{
    content: "";
    cursor: pointer;
    position: absolute;
    top: 400px;
    z-index: 8000;
    width: 20px;
    height: 20px;
    border: none;
    border-top: 4px solid c.$red;
    border-right: 4px solid c.$red;
    @content;
}